#include <winver.h>
1 ICON "misc/minesweeper.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS          VOS_NT
FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Chromatic Carrot"
            VALUE "FileDescription", "Command line minesweeper game"
            VALUE "FileVersion", "1.0.0"
            VALUE "ProductVersion", "1.0.0"
            VALUE "ProductName", "Minesweeper"
            VALUE "InternalName", "Minesweeper"
            VALUE "OriginalFilename", "Minesweeper"
            VALUE "LegalCopyright", "Copyright © 2025 Chromatic Carrot"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END